[submodule "packages/rae-core"]
	path = packages/rae-core
	url = git@github.com:dreamsoft-pro/RAE-agentic-memory.git
[submodule "packages/rae-phenix"]
	path = packages/rae-phenix
	url = https://github.com/dreamsoft-pro/RAE-Phenix.git
[submodule "packages/rae-hive"]
	path = packages/rae-hive
	url = https://github.com/dreamsoft-pro/RAE-Hive
[submodule "packages/rae-quality"]
	path = packages/rae-quality
	url = git@github.com:dreamsoft-pro/RAE-Quality.git
[submodule "packages/rae-lab"]
	path = packages/rae-lab
	url = git@github.com:dreamsoft-pro/RAE-Lab.git
